faiss-cpu
sentence-transformers
langchain
langchain-core
langchain-community
langchain-huggingface
langgraph
langgraph-supervisor
langchain-openai 
openai 
wikipedia
dotenv
pytrends
serpapi
google-search-results
streamlit
fastmcp
requests
httpx